:root {
    --alabaster: rgb(255, 255, 255);
    --main-black: rgb(0, 0, 0);
}

* {
    font-family: 'Brandon Grotesque','brandon-grotesque', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/mainsec1.jpg');
    background-position: center;
    background-size: cover;
}

/* Navbar (Sticky) */
.navbar {
    border: 1px solid red;
    height: 10vh;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
}
.logo {
    color: var(--alabaster);
    display: flex;
    justify-content: center;
    align-items: center;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}
.link {
    color: var(--alabaster);
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
}
.link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: var(--alabaster);
    transition: width .3s;
}
.link:hover::after {
    width: 100%;
}
.secondMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
}
.fa-solid {
    color: var(--alabaster);
    text-decoration: none;
    font-size: 17.5px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Main-Section 1 */
.section-1 {
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    display: block;
    border: 1px solid red;
}

.sec1-wrapper {
    height: 22.5vh;
    width: 30vw;
    margin-left: 3.75%;
    margin-top: 32.5%;

    display: grid;
    grid-template-rows: 1fr 5fr 3fr;
}
.sec1-wrapper > h3 {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0.1px;
}
.sec1-wrapper > h1 {
    display: flex;
    align-items: center;
    font-size: 40px;
    letter-spacing: 1px;
}
.sec1-wrapper-btn {
    font-size: 15px;
    font-weight: bold;
    color: var(--alabaster);
    background-color: transparent;
    background-repeat:no-repeat;
    border: 1px solid var(--alabaster);

    width: 12vw;
    cursor:pointer;
    overflow: hidden;

    background: linear-gradient(transparent, transparent 50%, rgb(255, 255, 255) 50%, rgb(255, 255, 255));
    background-size: 100% 200%;
    transition: background .3s;
}
.sec1-wrapper-btn:hover {
    background-position: 100% 100%;
    color: var(--main-black);
    font-weight: bold;
}
